/*姝ラ鐨勫紩瀵�*/
body{
    background:rgb(239,245,250);
}
/*绗竴涓楠�*/
.createusergroupguide_wrap{
    width:100%;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height:70px;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

}
.guide{
    flex:1;
    -webkit-flex:1;
    -moz-flex:1;
    text-align:center;
}

.guide_lead {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 26px;
    color: #fff;
}
.guide_one_img{
 background: url("../image/circle_active.png") no-repeat;
}
.guide_two_img{
    background: url("../image/circle.png") no-repeat;
}
.guide_three_img{
    background: url("../image/circle.png") no-repeat;
}
.guide_one_span{
    vertical-align: sub;
    vertical-align: -webkit-baseline-middle;
}
.guide_line{
    width:120px;
    height:2px;
    display: inline-flex;
    background: url("../image/guide_line.png") no-repeat;
}
.guide_line_active{
    width:120px;
    height:2px;
    display: inline-flex;
    background: url("../image/guide_line_active.png") no-repeat;
}
.guide_two_line{
    width:120px;
    height:2px;
    display: inline-flex;
    background: url("../image/guide_line.png") no-repeat;
}
.guide_two_line_active{
    width:120px;
    height:2px;
    display: inline-flex;
    background: url("../image/guide_line_active.png") no-repeat;
}
.guide_three_line{
    width:120px;
    height:2px;
    display: inline-flex;
    background: url("../image/guide_line.png") no-repeat;
}
.guide_three_line_active{
    width:120px;
    height:2px;
    display: inline-flex;
    background: url("../image/guide_line_active.png") no-repeat;
}
.guide_text{
    font-size:12px;
    margin-top: 5px;
}
.createusergroupcount_wrap{
    width:98%;
    height:100%;
    display:box;
    display:-moz-box;
    -webkit-box-orient:vertical;
    box-orient:vertical;
    margin-left:12px;


}
/*鐢ㄦ埛閫夋嫨wrap*/
.useraddlabel_wrap{
    background:#fff;
    border-left:1px solid #e4e4e4;
    border-right:1px solid #e4e4e4;
    border-top:1px solid #e4e4e4;
    border-bottom:1px solid #e4e4e4;
    margin-top:8px;
    width:100%;
    flex:1;
    -webkit-flex:1;
    -moz-flex:1;
}
.useraddlabel_nav{
    width:98%;
    margin-left:8px;
    height:36px;
    line-height:36px;
    border-bottom:1px solid rgb(1,104,181);
}
.useraddlabel_nav_text{
   float:left;
   font-size:12px;
   margin-left:8px;
   margin-top:0px;
   color:rgb(1,104,181);
}
.clearAll{
    width: 52px;
    height: 23px;
    line-height: 23px;
    background: #2fa4ff;
    text-align: center;
    color: #fff;
    font-size: 12px;
    float: right;
    border-radius: 4px;
    margin-top: 3px;
}
.useraddlabel_search{
    font-size:0;
    display:inline-block;
    float:right;
}
.useraddlabel_input{
    padding-left: 15px;
    width: 130px;
    height: 22px;
    line-height:22px;
    vertical-align:middle;
    font-size: 12px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #ddd;

}
.useraddlabel_img{
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ddd;
    border-left:none;
    vertical-align:middle;
    display: inline-block;
    width: 23px;
    background: #fff url('../image/search.png') no-repeat center center;
    height: 22px;
    color: #fff;
    cursor: pointer;
}
.useraddlabel_imgIE{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ddd;
    border-left:none;
    border-left:none;
    vertical-align:middle;
    display: inline-block;
    margin-left: -5px;
    margin-top:-5px;
    width: 23px;
    background: #fff url('../image/search.png') no-repeat center center;
    height: 22px;
    color: #fff;
    cursor: pointer;
}
/**閫夋嫨鐨勪笢瑗�**/
.usersureaddlabel_content{
    width: 450px;
    height: 246px;
    margin: 36px auto;
}
.usersureaddlabel_choose{
 margin-right: 20px;
 margin-top: 5px;
}
.usersureaddlabel_contentsure,.usersureaddlabel_contentchoice{
    margin-left: 8px;
    margin-top: 8px;
}
.usersureaddlabel_choosesure{
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
}
.nameType{
    width: 200px;
    height: 60px;
    margin: 30px auto 20px;
}
.nameType p {
    line-height: 30px;
    height: 30px;
}
.userlabel_addbtn{
  width:52px;
  height:23px;
  line-height: 23px;
  text-align:center;
  border-radius:3px;
  margin-left:8px;
  background:rgb(244,130,0);
  margin-top:15px;
  margin-bottom:15px;

}
.userlabel_addbtn_text{
    font-size:12px;
    color:#fff;
    cursor:pointer;
}

/*鐢ㄦ埛宸茬粡閫夋嫨鐨剋rap*/
.usersureaddlabel_wrap{
    background:#fff;
    border:1px solid #e4e4e4;
    width:100%;
    padding-bottom: 10px;
    flex:1;
    margin-top:8px;
    overflow:hidden;
    -webkit-flex:1;
    -moz-flex:1;

}

.sersureaddlabel_item{
    display:inline-block;
    width: 49%;
}
.sersureaddlabel_rec{
    width:85%;
    height:30px;
    display:inline-block;
    border:1px solid #e4e4e4;
}
.sersureaddlabel_content{
    height:28px;
    width: 65%;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
.sersureaddlabel_rec_num{
    width: 8%;
    text-align: center;
    height: 28px;
    line-height: 16px;
    color: #fff;
    background: rgb(0,104,181);
    display: inline-block;
    vertical-align: top;
    padding: 6px;
}

.sersureaddlabel_rec_img {
      width: 2%;
      height:28px;
      background:url("../image/useraddlabelsan.png") no-repeat center center;
      display: inline-block;

}
.sersureaddlabel_rec_instruction_title{
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    width: 15%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sersureaddlabel_rec_instruction{
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
}
.sersureaddlabel_rec_delimg{
    width:3%;
    height:28px;
    float: right;
    margin-right:5px;
    background:url("../image/userdel.png") no-repeat center center;
    display: inline-block;
    cursor:pointer;
}
.sersureaddlabel_checkbox{
    margin-left: 10px;
    width: 12%;
    height: 30px;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    vertical-align: top;
    display: inline-block;
}
.sersureaddlabel_oversee_watch{
    width:100%;
    background:#fff;
}
.sersureaddlabel_oversee{
   width:100%;
   background:#fff;
   margin-top: 10px;
}
.sersureaddlabel_oversee_span{
    font-size: 12px;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    /* padding: 5px; */
    display: block;
    color: #fff;
    border-radius: 5px;
    background: rgb(146,146,146);

}
.sersureaddlabel_oversee_text_compeople{
    font-size:12px;
    margin-right: 10px;
    margin-top:10px;
}
.sersureaddlabel_oversee_text{
    font-size:12px;
    margin-right: 10px;
    margin-top:10px;
    display: inline-block;
}

.sersureaddlabel_oversee_text2{
    font-size:12px;
    margin-top:10px;
    display: inline-block;
}
.overseeitem{
    display:inline-block;
}
.attributetext{
    display:inline-block;
}

/*鎸夐挳1*/
.btngroup_wrap{
    margin-bottom: 50px;
    margin-top:8px;
    width:100%;
    flex:1;
    -webkit-flex:1;
    -moz-flex:1;
    text-align:center;
}
/*鎸夐挳2*/
.btngroup_twowrap{
    margin-bottom: 50px;
    margin-top:8px;
    width:100%;
    flex:1;
    -webkit-flex:1;
    -moz-flex:1;
    text-align:center;
}
/*鎸夐挳*/
.form_data_btn{
    width: 95%;
    margin-top: 50px;
    font-size:12px;
    justify-content:center;
    align-items:center;
    display:-webkit-flex;
    display:flex;
}
.center_btn{
    height:39px;
    width:254px;
}
.three_center_btn{
    height:39px;
    width:310px;
}
.base_btn{
    width:61px;
    height:22px;
    margin-top: 10px;
    text-align:center;
    color:#fff;
}
.one_next_btn{
    background: rgb(0, 104, 181);
}
.one_cancel_btn{
    float:right;
    background: rgb(146, 146, 146);
}
/*修改*/
.two_pro_btn{
    float:right;
    background:#929292;
}
.two_next_btn{
    background:#0068b5;

}
/*修改*/
.three_pro_btn{
    float:right;
    background:#929292;
}
.three_next_btn{
    background:#0068b5;
}
.saveandcommit{
    width:150px;
}
.btn_span{
    margin-left: -2px;
    margin-top: -5px;
    display: block;

}
.one_btn_span{
    margin-left: -2px;
    margin-top: -5px;
    display: block;
    color:#fff;
}
/*E  绗竴涓楠�*/
/*S  绗簩姝ラ*/
.createusergroupcount_twowrap{
    width: 98%;
    height: 100%;
    display: box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    margin-left: 12px;

}
.userinputaddlabel_type_text{
    height: 25px;
    width: 320px;
}
.userinputaddlabel_type_text option{
    font-size: 12px;
}
.userinputaddlabel_name{
   width:800px;
   height:45px;
   line-height:45px;
   font-size:12px;
}
.userinputaddlabel_name_text{
    height:25px;
    line-height:20px;
    width: 320px;
}
.userinputaddlabel_name_limit{
    font-size:12px;
    color:#999;
}
.userinputaddlabel_meaning_textarea{
    resize:none;
    height:57px;
    width:320px;
    vertical-align:middle;
    display:inline-block;
}
.userinputaddlabel_description{
    display: inline-flex;
    height:68px;

}
.userinputaddlabel_description_text{
    font-size:12px;
    display:inline-block;
}
.userinputaddlabel_description_textarea{
    resize:none;
    height:57px;
    width:320px;
    vertical-align:middle;
    display:inline-block;
}
.userinputaddlabel_description_limit{
    font-size:12px;
    margin-top: 20px;
    color:#999;
    display:block;
}
.userinputaddlabel_use{
    height:78px;
    line-height:78px;
    margin-bottom:10px;
}
.createusergroupcount_threewrap{
    width: 98%;
    height: 100%;
    display: box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    margin-left: 12px;
}
.userinputaddlabel_time{
    width:800px;
    height:45px;
    line-height:30px;
    margin-bottom:10px;
}
.user_three_text{
    font-size:12px;
    display:inline-block;
}


/**hover event**/
/*hover*/
.one_next_btn:hover{
    background: rgb(0, 104, 181);
    color:#fff;
}
/*hover*/
.one_btn_span:hover{
    margin-left: -2px;
    margin-top: -5px;
    display: block;
    color:#fff;
}
.pro_step:hover,.two_pro_btn:hover{
    color:#fff;
    background: #929292;
}
.saveandcommit:hover,btn_span:hover{
    color:#fff;
    background: #0068b5;
}
.three_pro_btn:hover{
    color:#fff;
    background: #929292;
}