/***login CSS***/
body {
    background: url('../image/login/login_center.png') no-repeat;
    background-size:100% 100%;
}

body > .grid {
    height: 74%;
}
.user{
    width:280px!important;
}
.image {
    margin-top: -100px;
}

.popuwindow {
  margin-top:200px;
  margin-left:200px;
  float:left;
}

.wrap_form {
    width: 362px;
    height: 262px;
}

.login_label {
    margin-left: 120px;
    color: #29aae2;
    font-size: 18px;
}

.login_hr {
    filter: alpha(opacity=100, finishopacity=0, style=3)
}

.login_forgetpwd {
    height: 18px;
    vertical-align: middle;
    margin-right:5px;
    float:left!important;
}
.login_btn{
    display: inline-block;
    margin-top: 10px;
}
.login_forget_span {
    color: #797a79;
    margin-left: -145px;
}

.login_submit {
    background: #3385ff;
    width:280px!important;
}
.loginbtn{
    display:inline-block!important;
    margin-top:10px!important;
}
.login_public {
    width: 100%;
    margin-top: 180px;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
}
.public{
    width:100%;
    margin-top:180px;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    display:flex;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.login_forgetpwd_text{
    color: #797a79;
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-top: -1px;
}
.login_a{
    background:#3385ff!important;
    width:280px!important;
}